* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hole__container {
    width: 100%;
    height: 100vh;
    background-color: rgba(209, 209, 209, 0.855);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input__container {
    width: 70%;
    height: 90%;
    background-color: white;
    min-width: 300px;
    min-height: 500px;
    position: relative;
}

.input__items {
    width: 80%;
    height: 75%;
    padding-top: 25px;
}

.input__items__container {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.csvBtn__container {
    position: absolute;
    bottom: 0;
    left: 0;
}